# Ignored files
*.bam
*.sam
*.rds
data/annotations/human_g1k_v37.fasta
/data/annotations/clinvar_20260627.vcf.gz
/data/annotations/hapmap_3.3.b37.vcf
/data/annotations/human_g1k_v37.fasta
/results/ethseq_analysis/Aggregated.gds
/results/ethseq_analysis/Gencode.Exome.hg19.All.Model.gds
